*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
web/.env
web/node_modules/
web/dist/
web/*.tsbuildinfo
web/vite.config.js
web/vite.config.d.ts
debug.keystore
.build-outputs/
