VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=batch-boss-8a6c5.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=batch-boss-8a6c5
VITE_FIREBASE_STORAGE_BUCKET=batch-boss-8a6c5.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
